*{
    margin: 0;
    box-sizing: border-box;
}
::-moz-selection{
    background-color: DarkSeaGreen;
}
::selection{
    background-color: DarkSeaGreen;
}

/* --------------------------------------------------------*/
/* --- Main rules -------*/
/* -------------------------*/

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: DarkSlateGray;
    background-color: LightYellow;
    padding-top: 15vh;
    padding-bottom: 15vh;
}
section{
    margin-left: 5vw;
    width: 90vw;
    max-width: 800px;
}

p, ul, blockquote, button{
    font-size: 1.1rem;
    line-height: 1.7em;
    margin-bottom: 0.8em;
}

h1, h2{
    font-weight: 900;
}

h1{
    font-size: 2.3rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}
h2{
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

h3{
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.4em;
}

a{
    color: darkolivegreen;
}
a:hover{
    color: Darkslategrey;
}

img{
    margin-bottom: 0.8em;
    max-width: 100%; 
}

.insidepage{
    font-weight: bold;
}

/* --------------------------------------------------------*/
/* --- Cahier -------*/
/* -------------------------*/

#cahier{
    margin-top: 30px;
    display: grid;
    grid-gap: 0.6em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    max-width: 1600px;
    margin-bottom: 30px;
}
.idea{
    border: 1px solid DarkKhaki;
    padding: 1rem;
}

.idea-title{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* --------------------------------------------------------*/
/* --- Labels -------*/
/* -------------------------*/

.label{
    font-size: 0.7rem;
    background-color: peachpuff;
    padding: 0 5px 0 5px;
    margin-bottom: 3px;
    display: inline-block;
}

.objectif{
    background-color: #DCFFCB;
    border: 2px solid #DCFFCB;
}

button.objectif:hover{
    border: 2px ridge #DCFFCB;
}

.strategy{
    background-color: #D1F8FF;
    border: 2px solid #D1F8FF;
}

button.strategy:hover{
    border: 2px ridge #D1F8FF;
}

.impact{
    background-color: #FFF08B;
    border: 2px solid #FFF08B;
}

button.impact:hover{
    border: 2px ridge #FFF08B;
}

.active{
    border-style: ridge;
}